.taskDefault {
  display: flex;
  justify-content: space-between;
  width: 46rem;
  gap: 0.75rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  align-self: stretch;
  margin-bottom: 0.5rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkboxContainer input {
  cursor: pointer;
  appearance: none;
  width: 22px;
  height: 20px;
  border: 3px solid var(--blue);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxContainer input:before {
  content: '\2714';
  color: var(--white);
  background-color: var(--purple-dark);
  width: 22px;
  height: 22px;
  border-radius: 999px;
  opacity: 0;
  transition: all 400ms ease-in-out;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxContainer input:checked:before {
  opacity: 1;
}

.taskDefault label {
  line-height: 1.4;
  color: var(--white);
  font-weight: 400;
  display: flex;
  gap: 8px;
}

.tarefaConcluida {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.taskDefault button {
  cursor: pointer;
  transition: ease 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--white)
}

.taskDefault > button:hover {
  color: var(--danger)
}