.insertTask {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  width: 46rem;
  margin: -2rem auto;
}

.insertTask input {
  padding: 1rem;
  background-color: var(--gray-500);
  width: 736px;
  border-radius: 0.25rem;
  border: 0;

  font-size: 1rem;
  font-weight: 400;

  color: var(--white);
}

.insertTask input:focus {
  outline: transparent;
}

.insertTask button {
  border: 0;
  cursor: pointer;
  display: flex;
  background-color: var(--blue-dark);
  align-items: center;
  color: var(--white);
  gap: .5rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 4px;

  padding: 1rem;
  text-decoration: none;
  transition: 0.5;
}

.insertTask button:hover {
  background-color: var(--blue);
}

.Container {
  width: 46rem;
  margin: 3.75rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.headerContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.headerToDo {
  display: flex;
  justify-content: space-between;
  width: 46rem;
  margin: 0 auto;
}

.headerToDo div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.headerToDo div:nth-child(1) {
  color: var(--blue);
}

.headerToDo div:nth-child(2) {
  color: var(--purple);
}

.headerToDo div p {
  font-weight: 700;
}

.headerToDo div span {
  color: var(--white);
  background-color: var(--gray-400);
  border-radius: 999px;
  padding: 2px 8px;
}

.mainContainer{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.thereAreNoTasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 4rem 1.5rem;
  border-radius: .5rem;
  border-top: 1px solid var(--grey-400, #333);
}

.thereAreNoTasks div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thereAreNoTasks div p {
  color: var(--gray-300);
  line-height: 1.4;
}

.thereAreNoTasks div p:nth-child(1) {
  font-weight: 700;
}